body{
	font-family: lucida sans;
	height: 1200px
}
.scroll-to-top{
	background-color: rgba(0,0,0,.7);
	padding: 0px 5px 3px;
	color: #fff;
	display: block;
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 40px;
	display: none
}
.sections{
	padding: 20px 0
}
.sections2{
	height: 600px;
	padding: 20px 0;
	border-bottom: 1px solid #888
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,.5);
}
.sticky{
	background-color: #000;
	color: #fff;
}
header{
	height: auto;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 999
}
header .icon{
	position: absolute;
	top:32px;
	right: 13px;
	z-index: 10;
	display: none;
	color: #fff
}
header .logo{
	font-family: 'Merriweather', serif;
	color: #fff
}
header .logo h2{
	transition: all 0.5s ease-in-out;
}
header .logo h2:hover{
	color: blue
}
header nav .nav-list{
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0;
	z-index: 1000
}	
header nav .nav-list .list a{
	display: block;
	text-decoration: none;
	padding: 15px 0;
	margin: 9px 0;
	transition: all 0.3s ease-in-out;
	color: #fff
}
header nav .nav-list .list a.active{
	color: #7cb62f
}
header nav .nav-list .list a:hover{
	color: #7cb62f
}

@media (max-width:575px){
	header nav .nav-list{
		display: none;
		text-align: center;
		padding: 0
	}
	header .logo{
		text-align: left;

	}
	header .icon{
		display: block
	}
}

.home{
	height: 650px;
	background-image: url('../images/img_header.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}
.home .home-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
}
.home .home-title{
	color: #fff;
	font-size: 45px;
	margin-bottom: 30px
}
.home .home-desc{
	color: #fff;
	font-size: 15px;
	font-family: 'Merriweather', serif;
}
.home .button{
	background-color: #2980b9;
	padding: 10px 0;
	width: 150px;
	text-align: center;
	color: #fff;
	font-family: 'Metamorphous', cursive;
	margin-top: 30px;
	margin-right: 25px;
	cursor: pointer;
	position: relative;
	border: none;
	overflow: hidden
}
.home .button span:first-child{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	display: block;
	background-color: #3498db;
	z-index: 1
}
.home .button span:last-child{
	position: relative;
	z-index: 2
}


@media (max-width:575px){
	header{
		background-color: #000
	}
	.home .home-title{
		font-size: 30px
	}
	.home .home-desc{
		font-size: 12px
	}
}
.section-title{
	font-size: 40px;
}
.line{
	width: 300px;
	background: #ddd;
	height: 3px;
	margin: auto;
}
.line span{
	display: block;
	height: 4px;
	width: 200px;
	background-color: #7cb62f;
	margin: auto;
	position: relative;
	bottom: 0.5px
}
.section-header p{
	width: 700px;
	color: #888;
	margin: 40px auto;
	line-height: 1.5;
	font-size: 17px
}
.popup{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 1001;
	display: none
}
.popup .inner{
	padding: 30px;
	background-color: #fff;
    width: 450px;
    height: 440px;
    border-radius: 10px;
    box-shadow: 7px 5px 9px 3px #635e5e;
    top: 50%;
    margin-top: -220px;
    left: 50%;
    margin-left: -225px;
    position: fixed;
    border: solid 1px #ccc;
}
@media (max-width:575px){
	.popup .inner{
	padding: 20px;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 7px 5px 9px 3px #635e5e;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -175px;
    position: fixed;
    border: solid 1px #ccc;		
	}
.popup .inner .close-popup{
	position: absolute;
	right: 33px;
    bottom: 33px;
    width: 100px;
    cursor: pointer;
}
.fixed-menu{
	position:fixed;
	top: 0;
	left: -240px;
	z-index: 1999;
	background-color: #fff;
	color: #888;
	padding:20px;
	height: 100%;
	width: 240px;
}
.fixed-menu dt{
	font-size: 18px;
	padding-bottom: 10px
}
.fixed-menu dd{
	height: 26px;
	padding-left:15px;
	width: 210px; 
}
.fixed-menu .fa-angle-double-right{
	position: absolute;
	right: -37px;
	background-color: #fff;
	border-radius: 0 10px 10px 0;
	top: 150px;
	cursor: pointer;
}